@charset "utf-8";
$base:0.027;

// 颜色

// 主色
$colorPrimary:#3eba90;
// 背景
$bodyBg:#F6F6F6;
$bgColorGray:#c1c1c1;
// 字体
$textColor:#666;
$textColorLighten:#999;
$textColorWarn:#e4393c;
// 线 
$lineColor:#eaeaea;
$lineColorLighten:#eaeaea;


// 字体

//底部导航 14px;

// 间距
